*{
    margin: 0;
    padding:0;
}



main {
    
    background-image:url("../assets/business-man-5443436_1920.jpg");
    
}
.empresa{
    padding-bottom: 400px; 
}
 

/* ANIMACIONES */

@keyframes aparecer{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* SERVICIOS EMPRESARIALES */
.card:hover{
   
    transform: scale(1.15);
    transition-property: all;
    transition-duration: 2s;
}
.titulo-se{
    text-align: center;
    color: rgb(2, 69, 71);
    font-family:  Helvetica, sans-serif;
    font-weight:bold;

}

/*QUIENES SOMOS*/

section{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    
}
.lema{
    color: rgb(2, 69, 71);
    font-weight:bold;
}


.descripcion{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style:normal;
    color:rgb(65, 1, 14);
    text-align:center;
    font-weight:bold;
}

.imgEquipo{
    margin: 10px;
   
    border:solid grey 2px;
    text-align: center;
    animation-name: aparecer; 
    animation-duration: 10s;  
    animation-iteration-count: infinite;
 }
/* CONTACTANOS */
    

.contacto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1,5rem;
    font-style: inherit;
    color: rgb(2, 69, 71);
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;     
}

.contacto-web{
    border: 1px solid grey;
    margin-top:0px;
    margin-left: 400px;
    margin-bottom:0;
    padding: 10px;
    width: max-content;
    text-align: justify;
    background-color: snow;
    
}
.datos {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1,5rem;
    font-weight: bold;
    margin-top: 10px;  
}

/* UBICACION */

.direccion{
 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;
}
.ubicacion {
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    color: rgb(2, 69, 71);
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;

}